# Python Basics

In [4]:
import numpy as np
import pandas as pd

In [7]:
a="Welcome to Python programming"

In [12]:
print(a);

Welcome to Python programming

In [73]:
#variables
# we can declare any value to the varible that will type cast automatically depends on value ex:
age=10
name="Ravinder"
salary=3323213.328973

print(age,name,salary)
print(type(age),type(name),type(salary))

10 Ravinder 3323213.328973
<class 'int'> <class 'str'> <class 'float'>

In [74]:
#assiging value to multiple variables at a time 
a=b=c=50
print(a,b,c)

50 50 50

In [26]:
#assignning multiple values to multiple variable.
a,b,c=10,20,30
print(a,b,c)

10 20 30

# tuple()

In [32]:
#tuples is a form collection where different type data can be stored.immutable.
tp1=(10,"ravinder",22.3223)
tp2=("gopal",123)

In [34]:
tp1

(10, 'ravinder', 22.3223)

In [37]:
tp1[0]

10

In [39]:
tp1[1:]

('ravinder', 22.3223)

In [41]:
#cantatenating two tuples
tp1+tp2

(10, 'ravinder', 22.3223, 'gopal', 123)

# Dictionary{}

In [2]:
#dictionary is collection which works on key-value pair
#no two keys can be same. enclosed bye curly braces({})
dic={'name':"ravinder",'age':23,'salary':2132.43224}
dic.keys()

dict_keys(['name', 'age', 'salary'])

In [3]:
dic.values()

dict_values(['ravinder', 23, 2132.43224])

In [6]:
dic['name']

'ravinder'

In [9]:
'age' in dic
dic.has_key('age')

AttributeError: 'dict' object has no attribute 'has_key'

# keywords,identifiers,literals

In [57]:
#keywords: reserbed words for a compiler
#ex: for, if,False etc.

#identifiers:fundamental building blocks in a program
#ex: variables,class,object,list,dictionary etc.

#literals:Literals can be defined as a data that is given in a variable or constant.
#ex:

# List

In [63]:

#List contain items of different data types. Lists are mutable i.e., modifiable.
#The values stored in List are separated by commas(,) and enclosed within a square brackets([]). We can store different type of data in a List.
#Value stored in a List can be retrieved using the slice operator([] and [:]).
#The plus sign (+) is the list concatenation and asterisk(*) is the repetition operator.
#xe:
List=["ravinder",432324,43243.543,"gopal"]
List

['ravinder', 432324, 43243.543, 'gopal']

In [70]:
List[1:3]

[432324, 43243.543]

In [72]:
# : '+' for cancatenating two Lists
# :  '*' for repetion like example given below
List*2

['ravinder',
 432324,
 43243.543,
 'gopal',
 'ravinder',
 432324,
 43243.543,
 'gopal']

# Controle Statements

# If-else

In [82]:
a=4
if a==10:
    print("value of 'a' is",a)
    b="hELLO wELCOME 10"
    print(b)
else:
    print("Value of 'a' is",a)
    print("hello welcome to ",a)

Value of 'a' is 4
hello welcome to  4

# For

In [84]:
List=[1,2,3,3,4,5,5,6,6]
for a in List:
    print(a*a)

1
4
9
9
16
25
25
36
36

In [85]:
for a in range(1,5):
    print(2*a)

2
4
6
8

In [100]:
n=5
a=1
for i in range(1,7):
    for j in range(1,i+1):
        print(a,end=' ')
        a=a+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [99]:
for i in range (1,6):  
    for j in range (5,i-1,-1):  
        print ("*",end=" ")  
    print()

* * * * *
* * * *
* * *
* *
*

# While

In [114]:
n=5555555555
sum=0  
temp=n
while n>0:  
    r=n%10
    sum+=r
    n=n//10 
print("sum of digits of a",temp," is ",sum)

sum of digits of a 5555555555  is  50

# Break,Continue,pass

In [116]:
for i in [1,2,3,4,5]:  
    if i==3:  
        pass  
        print ("Pass when value is",i ) 
    print(i)

1
2
Pass when value is 3
3
4
5

# OOPS

In [127]:
class ravinder:
    "this is raviner K"
    a=100
    def call():
            print("calling ravinder")
ravinder.__doc__

'this is raviner K'

In [133]:
ravinder.call()
obj=ravinder()
obj.call

calling ravinder

# constructor

In [147]:
class genConst:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    
    def addd(self):
        print("sum of the two number is ",self.a+self.b)

In [148]:
obj=genConst(2,3)

In [149]:
obj.addd()

sum of the two number is  5

# Inheritance

In [159]:
class Animal:
    def eat(self):
        print("Animal eats")
class dog(Animal):
    def bark(self):
        print("Dog barks")
        
dog1=dog()
dog1.eat()
dog1.bark()

Animal eats
Dog barks

# multilevel inheritance

In [160]:
class Animal:   
    def eat(self):  
        print('Eating...' ) 
class Dog(Animal):  
    def bark(self):  
        print ('Barking...')  
class BabyDog(Dog):  
    def weep(self):  
        print ('Weeping...')  
d=BabyDog()  
d.eat()  
d.bark()  
d.weep()

Eating...
Barking...
Weeping...

# multiple inheritance

In [178]:
#python supports multiple inheritance 
#sybtax
class first:
    def gen(slef):
        print("i am in first class")
class second:
    def gen1(self):
        print("i am in second class")
class third(first,second):
    def gen2(slef):
        print("a iam in third")
    
obj=third()
obj.gen()
obj.gen1()
obj.gen2()

i am in first class
i am in second class
a iam in third

# Python String

In [187]:
name="Ravinder"
length=len(name)
n=-1
for i in range(0,length):
    print(name[i],"<-->",name[n])
    n=n-1

R <--> r
a <--> e
v <--> d
i <--> n
n <--> i
d <--> v
e <--> a
r <--> R

In [210]:
n=10
for i in range(1,10):
    for j in range(1,n):
        print(" ",end=" ")    
    n=n-1
    print(i*'*   ')
m=1    
for j in range(9,0,-1):
    for k in range(0,m):
        print(" ",end=" ")
    m=m+1
    print(j*'*   ')

                  *
                *   *
              *   *   *
            *   *   *   *
          *   *   *   *   *
        *   *   *   *   *   *
      *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *
      *   *   *   *   *   *   *
        *   *   *   *   *   *
          *   *   *   *   *
            *   *   *   *
              *   *   *
                *   *
                  *

In [217]:
"r"<"R"

False

In [223]:
li=[10,20]
lis=[12,34,25]

In [226]:
li+lis

[10, 20, 12, 34, 25]

# Input in python and file reading , writing

In [10]:
n=input("enter your expression")

enter your expression4

In [11]:
obj=open("ravi.txt",'w')

In [12]:
obj.write("welcome to python basics")

24

In [249]:
obj.close()

In [14]:
obj1=open("ravi.txt",'r')

In [15]:
str=obj1.read()

In [252]:
str

'welcome to python basics'

In [256]:
#import os
os.getcwd()

'C:\\Users\\ravinder_k\\Desktop\\machine'

In [258]:
import time;  
localtime = time.localtime(time.time())
localtime

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=12, tm_hour=19, tm_min=58, tm_sec=36, tm_wday=3, tm_yday=285, tm_isdst=0)

In [260]:
import calendar  
calendar.prcal(2017)

                                  2017

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [5]:
n=0
x="Ravinder"
for i in range(0,len(x)):
    print(x[n:])
    n=n+1

Ravinder
avinder
vinder
inder
nder
der
er
r

In [19]:
s=[]
n=3
for i in range(0,n):
    try:
        gen=int(input("enter numbers"))
        s.append(gen)
    except TypeError:
        print("invalide type")

enter numbers1
enter numbers23
enter numbers4

#####

In [21]:
 Str=input("enter your name")

enter your nameravinder k

In [22]:
str=String(input("enter name"))

NameError: name 'String' is not defined